extends auth

block auth
  form(action="/users", method="post")
    .control-group
      label(for='name') Full name
      input#name(type='text', name="name", placeholder='Full name', value=user.name)

    .control-group
      label(for='email') Email
      input#email(type='text', name="email", placeholder='Email', value=user.email)

    .control-group
      label(for='username') Username
      input#username(type='text', name="username", placeholder='Username', value=user.username)

    .control-group
      label(for='password') Password
      input#password(type='password', name="password", placeholder='Password')

    .control-group
      button.btn.btn-primary(type='submit') Sign up
      &nbsp;
      | or&nbsp;
      a.show-login(href="/signin") login
