extends auth

block auth
  form(action="/users/session", method="post")
    p.error= message
    .control-group
      label(for='email') Email
      input#email(type='text', name="email", placeholder='Email')

    .control-group
      label(for='password') Password
      input#password(type='password', name="password", placeholder='Password')

    .control-group
      button.btn.btn-primary(type='submit') Sign in
      &nbsp;
      | or&nbsp;
      a.show-signup(href="/signup") Sign up
